.message-row {
	display: flex;
}

.msg-right {
	flex-direction: row-reverse;
}

.message-bubble {
	display: inline-block;
	margin: 4px 4px 0px;
	padding: 6px 12px;
	border-radius: 6px;
}

.msg-blue {
	color: white;
	background: dodgerblue;
}

.msg-grey {
	color: black;
	background: #e0e0e0;
}
